@model MVCManukauTech.Models.DB.Product

@{
    ViewData["Title"] = "Edit";
}
<script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=your_API_key'></script>
<script>
    tinymce.init({
        selector: '#mytextarea'
        
    });
</script>
<h1>Edit Product Details</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Products" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="CategoryId" />
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                @if (Model.CategoryId == 1)
                {
                    <div class="form-group">
                        <label asp-for="UnitType" class="control-label"></label>
                        <input asp-for="UnitType" class="form-control" />
                        <span asp-validation-for="UnitType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QuantityInStock" class="control-label"></label>
                        <input asp-for="QuantityInStock" class="form-control" />
                        <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReorderLevel" class="control-label"></label>
                        <input asp-for="ReorderLevel" class="form-control" />
                        <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupplierId" class="control-label"></label>
                        <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        @Html.CheckBoxFor(Model => Model.Discontinued)  @Html.DisplayNameFor(Model => Model.Discontinued)
                    </div>
                }

                <div class="form-group">
                    <label asp-for="ImageFileName" class="control-label"></label>
                    <input asp-for="ImageFileName" class="form-control" />
                    <span asp-validation-for="ImageFileName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    @if (Model.CategoryId == 1)
    {
        <a asp-controller="Products" asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-controller="Membership" asp-action="Index">Back to List</a>
    }

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
